<%- include('./base/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col mt-5 mb-5">
                <h1 class="text-decoration-underline mb-4"><span> Technical Support</span></h1>
                <h6 class="mx-2">Contact No : 98XXXXXXXX</h6>
                <h6 class="mx-2">Email Id:  <a href="/query">eisikarajput228@gmail.com</a></h6>
                <a href=""></a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>
<%- include('./base/footer') %>